version: 2.1 # use CircleCI 2.1
jobs: # a collection of steps to execute
    build: # runs not using Workflows must have a `build` job as entry point
        working_directory: ~/repository/api # set the working directory
        docker: # run the steps with Docker
            - image: circleci/node:12.16.1 # with this image as the primary container; this is where all `steps` will run
        steps: # a collection of executable commands
            - checkout: # special step to check out source code to working directory
                  path: ~/repository
            - run: # print all files found in working directory to verifying if the path is correct
                  name: print-ls
                  command: ls -la
                  background: true
            - run: # install or update npm
                  name: npm-update
                  command: "sudo npm install -g npm@latest"
            - restore_cache: # special step to restore the dependency cache
                  # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
                  key: dependency-cache-{{ checksum "package-lock.json" }}
            - run: # install dependencies from package.json
                  name: npm-install
                  command: npm install
            - save_cache: # special step to save the dependency cache
                  key: dependency-cache-{{ checksum "package-lock.json" }}
                  paths:
                      - ./node_modules
    test:
        working_directory: ~/repository/api # set the working directory
        docker: # run the steps with Docker
            - image: circleci/node:12.16.1 # with this image as the primary container; this is where all `steps` will run                  
        steps:
            - checkout:
                  path: ~/repository
            - run: # print all files found in working directory to verifying if the path is correct
                    name: print-ls
                    command: ls -la
                    background: true
            - run: # run tests with jest
                  name: test
                  command: npm run test

workflows:
    version: 2
    build-and-test-api:
        jobs:
          - build
          - test:
              requires:
                - build