version: 2.1 # use CircleCI 2.1

executors: # define reusable environnement configuration
    api:
        docker: # run the steps with Docker
            - image: circleci/node:lts # with this image as the primary container; this is where all `steps` will run
        working_directory: ~/repository/api

commands: # define reusable config reference
    save_node_cache: # save ./node_modules as cache
        description: "Saving node_modules cache"
        steps:
            - save_cache: # special step to save the dependency cache
                  key: node-cache-{{ checksum "package-lock.json" }}
                  paths:
                      - ./node_modules
    restore_node_cache: # restore ./node_modules cache
        description: "Restoring node_modules cache"
        steps:
            - restore_cache: # special step to restore the dependency cache
                  # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
                  key: node-cache-{{ checksum "package-lock.json" }}
    print-files:
        description: "Print files in working directory"
        steps:
            - run: ls -la # print all files found in working directory to verifying if the path is correct

jobs: # a collection of steps to execute
    build: # runs not using Workflows must have a `build` job as entry point
        executor: api
        steps: # a collection of executable commands
            - checkout: # special step to check out source code to working directory
                  path: ~/repository
            - run: # install or update npm
                  name: Install and update npm
                  command: "sudo npm install -g npm@latest"
            - restore_node_cache
            - run: # install dependencies from package.json
                  name: Run 'npm install'
                  command: npm install
            - save_node_cache
    test:
        executor: api
        steps:
            - checkout:
                  path: ~/repository
            - restore_node_cache
            - run: # run tests with jest
                  name: Running tests
                  command: npm run test

workflows:
    version: 2
    build-and-test-api:
        jobs:
            - build
            - test:
                  requires:
                      - build
